* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans",sans-serif;
}
nav {
    background-color: white;
    position: sticky;
    top: 0;
}
#main-nav {
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
	border-top: 1px solid gray;
    padding: 0.8rem;
    align-items: stretch;
    display: flex;

}

.nav-logo {
    align-items: center;
    display: flex;
    padding: 11;

}
#logo {
    display: flex;
}
.right-nav {
    align-items: stretch;
    display: flex;

}

ul {
    margin-left: 240px;
    padding: 10px;
}
.nav {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1rem;
    list-style-type: none;
    display: inline;
}

.tuitt-button, .apply-button {
    background-color: #c2195b;
    font-size: 1rem;
    color: white;
    border: transparent;
    border-radius: 25px;
    padding: 10px;
}

#bg-image {
    background-image: url(' https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

}

.front-bg {
    background-color: rgba(0, 0, 0, 0.3);
    height: inherit;
}

.title, .title-2 {
    font-family: 'Zilla Slab', serif;
    font-size: 2.5rem;
}

.container, .apply-button{
    margin: auto;
    text-align: right;
    
}
.apply-button {
    margin-right: 10%;
    margin-bottom: 3rem;
    margin-top: 2rem;
    padding: 10px;
    width: 140px;
    font-size: 1.2rem;
    text-align: center;
}
.title, .subtitle {
    color: white;
    width: 50%;
    margin-left: auto;
    margin-right: 10%;
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-indent: 10%;

}

.intro {
    padding-left: 20%;
	padding-right: 20%;
	padding-top: 2rem;
	padding-bottom: 3rem ;
	text-align: center;

}

.title-2, .intro-discription {
    margin-bottom: 2rem;
}

.pre-footer {
    background-color: #f7fbfb;
    text-align: center;
    padding-left: 20%;
	padding-right: 20%;
	padding-top: 2rem;
	padding-bottom: 3rem ;
	text-align: center;
}

.book-button {
    background-color: #336589;
    color: white;
    font-size: 1.5rem;
    border: transparent;
    border-radius: 25px;
    padding: 10px;
    margin-top: 2rem;

}

footer {
    text-align: center;
}

footer span {
    margin-left: .5rem;
    margin-right: .5rem;
}
